p {
  font-family: "helvetica";
  text-indent: 0px;
  margin: 20px;
  width: 700px;
  color: lightblue;
}

#content {
  width: auto;
  min-height: 300px;
  padding-left: 10px;
  margin: 0px;
  /*border: solid 5px grey;*/
  font-size: 20px;
}


a {
  padding: 30px;
  font-family: helvetica;
  text-indent: 0px;
  margin-left: 0px;
  color: white;
}

button {
  margin-left: 0px;
  padding: 40px;
  font-size: 16px;
  background-color: Coral;
  color: white;
}

form {
  margin-left: 0px;
  padding: 40px;
}

#output1 {
  font-family: Georgia, serif;
  color: white;
  padding: 20px;
  padding-left: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 20px;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  width: auto;
  word-wrap: break-word;
}

#output2 {
  font-family: Georgia, serif;
  color: white;
  padding: 20px;
  padding-left: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 20px;
  font-size: 24px;
  font-style: italic;
  width: auto;
  word-wrap: break-word;
}

#button {
  margin-left: 20px;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: maroon;
  color: white;
}

#input {
  margin-right: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 16px;
  background-color: maroon;
  color: white;
}

figcaption {
  font-family: "helvetica";
  text-indent: 0px;
  margin-left: 0px;
  color: white;
  font-size: 100%;
}

pre {
  font-family: "helvetica";
  text-indent: 0px;
  margin-left: 40px;
  color: white;
  font-size: 100%;
}

img {
  padding: 50px;
  margin: 20px;
  height: auto;
  width: 70%;
  border: 5px solid lightblue;
}

#apodjpg {
  float: right;
  width: 500px;
  padding: 20px;
  magin: 30px;
}


h1 {
  font-size: 250%;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: : 20px;
  padding-top: 20px;
  text-indent: 0px;
}


p {
  width: 700px;
}
