

#content {
  width: auto;
  min-height: 300px;
  padding-left: 10px;
  margin: 0px;

  font-size: 20px;
}

a {
  text-indent: 0px;
  margin-left: 20px;
  color: white;
}


#output {

  color: white;
  padding: 0px;
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  width: auto;
  word-wrap: break-word;
}

button {
  margin-left: 40px;
  padding: 40px;
  font-size: 16px;
  background-color: Coral;
  color: white;
}

form {
  margin-left: 0px;
  padding: 40px;
}

#myButton {
  margin-left: 20px;
  padding: 20px;
  font-size: 16px;
  background-color: goldenRod;
  color: white;
}

#userName {
  margin-right: 10px;
  padding: 20px;
  font-size: 16px;
  background-color: #1c2844;
  color: white;
}

.swag1 {
  background-color: pink;
  margin: 20px;
  padding: 20px;
  float: right;
}

.swag2 {
  background-color: aquamarine;
  margin: 20px;
  padding: 20px;
  float: right;
}

.swag3 {
  background-color: #bab86c;
  margin: 80px;
  padding: 20px;
  float: right;
}

figcaption {
  font-family: "helvetica";
  text-indent: 60px;
  margin-left: 40px;
  //text-align: center;
  color: white;
  font-size: 100%;
}

pre {
  font-family: "helvetica";
  text-indent: 0px;
  margin-left: 40px;
  color: white;
  font-size: 100%;
}

img {
  padding: 50px;
  float: right;
  margin: 20px;
  height: auto;
  width: 500px;
  border: 5px solid pink;
}

#images {
  position: absolute;
  right: 0px;
  width: 500px;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 0px;

}

#glitched {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

h1 {
  font-size: 250%;
  padding-bottom: : 20px;
  padding-top: 40px;
  margin-top: 0;
}


p {
  width: 700px;
}
