
h1 {
  color:red;
  font-size:250%;
  font-family:"Courier New"
}

p {
  font-family: "Courier New";
  text-indent: 30px;
  margin-left: 10px;
  border-style: groove;

}

p.dream {
  width: 50%;
}

div.content {
  background-color: rbg (118,177,125);
}


/*
https://www.w3schools.com/css/css_border.asp



*/
